<section id="about-us" style="padding: 1rem;margin-bottom: 1rem;"
  class="seo-intro bg-neutral-50 py-16 px-8 md:px-16  rounded-2xl shadow-sm mt-10 mx-auto max-w-4xl">
  <p class="text-lg text-gray-600 leading-relaxed">

  <ul>
    <h3>Ми допомагаємо і підтримуємо у дітей:</h3>
    <p class="add-info st-text">
      <li>розвиток дрібної та великої моторики</li>
      <li>перші кроки до самостійності</li>
      <li>розвиток комунікативних навичок та мовлення</li>
      <li>забезпечення турботливого та дружнього середовища, що сприяє спільній грі</li>
  </ul>
  <ul>
    <h3>Ключові особливості системи Montessori</h3>
    <p class="add-info st-text">
      <li>малюк самостійно обирає темп та напрямок</li>
      <li>педагог виступає наставником і спостерігачем та ненв'язує знання</li>
      <li>середовище спеціально підготовлене</li>
      <li>простір із дидактичними матеріалами, доступними для самостійного використання дитиною</li>
      <li>діти вільні у виборі своєї діяльності, але навчаються брати відповідальність за свої дії</li>
      <li>розвиток навичок самообслуговування, соціальної взаємодії та практичної діяльності</li>
      <li>відсутність зовнішнього контролю та отримання результату від пізнання середовища</li>
  </ul>
  <ul>
    <h3>Розклад і вартість група "Я САМ"</h3>
    <p class="add-info st-text">
      <li>1,5 - 3 роки</li>
      <li>8:30 - 12:30</li>
  </ul>
  <ul>
    <h3>Montessori цикл:</h3>
    <p class="add-info st-text">
      <li>розвиток мовлення</li>
      <li>творчість</li>
      <li>руханки</li>
  </ul>
  <p class="add-info st-text">Якщо у Вас залишились питання, завітайте до нашого простору для відчуття атмосфери <span
      class="logo">Montessori studio.</span>
  <h2 class="text-3xl md:text-4xl font-serif font-semibold text-gray-800 mb-4 text-center"> Наша мета робити дітей
    вільними, самостійними та допомагати батькам розвивати безмежний потенціал дитини.</h2>

</section>