<section id="about-us" style="padding: 1rem;margin-bottom: 1rem;"
  class="seo-intro bg-neutral-50 py-16 px-8 md:px-16  rounded-2xl shadow-sm mt-10 mx-auto max-w-4xl">
  <p class="text-lg text-gray-600 leading-relaxed">

  <ul>
    <h3>Ми допомагаємо і підтримуємо у дітей:</h3>
    <li>розвиток дрібної та великої моторики</li>
    <li>перші кроки до самостійності</li>
    <li>розвиток комунікативних навичок та мовлення</li>
    <li>забезпечення турботливого та дружнього середовища, що сприяє спільній грі</li>
  </ul>

  <p class="add-info">Якщо у Вас залишились питання, завітайте до нашого простору для відчуття атмосфери <span
      class="logo">Montessori studio.</span>
    Наша мета робити дітей вільними, самостійними та допомагати батькам розвивати безмежний потенціал дитини.</p>

</section>