/* You can add global styles to this file, and also import other style files */

// Functions first
@import "../node_modules/bootstrap/scss/functions";

// Variable overrides second
$primary: #c3c0ad73;
$secondary: #C1A1D3;
// $secondary: #c9e6f0;
$body-bg: #fbf8ef;
$body-secondary-bg: #C1A1D3;
// $font-family-base: 'Source Sans Pro', 'Lucida Grande', sans-serif;
// $font-family-base: "Pangolin", cursive;
$font-family-base: "Shantell Sans", "Helvetica Neue", cursive;


// Required Bootstrap imports
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/root";

// Import the main Bootstrap styles
@import "../node_modules/bootstrap/scss/bootstrap";


.overlay {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 1;
}

.overlay h1 {
  font-size: 3rem;
  margin: 0;
}

.overlay p {
  font-size: 1.5rem;
}